JDBXZ1_1117/studentJDBXZ1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/studentJDBXZ1" xmlns:tns="http://www.example.org/studentJDBXZ1" elementFormDefault="qualified">
<xs:element name="class"/>
<xs:ComplexType name = studentType>
	<xs:sequence>
	<xs:element type="xs:string" name="keresztnev"/>
	<xs:element type="xs:string" name="vezeteknev"/>
	<xs:element type="xs:string" name="becenev"/>
	<xs:element type="xs:integer" name="kor"/>
	</xs:sequence>
	 <xs:attribute type="xs:string" name="id" use="required"/>
  </xs:complexType>
  <xs:complexType name="studentType">
</xs:ComplexType>
</schema>