JDBXZ1_1005/SL_mozi.dtd

<?xml version ="1.0" encoding="utf-8"?>
<!ELEMENT mozi (film)*>
<!ELEMENT film (rendezo,iro,szinesz*)>
    <!ATTLIST film id ID #REQUIRED>
    <!ATTLIST film mufaj CDATA #REQUIRED>
    
    <!ELEMENT rendezo (#PCDATA)>
    <!ATTLIST rendezo id ID #REQUIRED>
    <!ATTLIST rendezo nev CDATA #REQUIRED>

    <!ELEMENT szinesz (#PCDATA)>
    <!ATTLIST szinesz id ID #REQUIRED>
    <!ATTLIST szinesz nev PCDATA #REQUIRED>

    <!ELEMENT iro (#PCDATA)>
    <!ATTLIST iro id ID #REQUIRED>
